{
    "root": true,
    "env": {
        "node": true,
        "browser": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/essential",
        "@vue/prettier",
        "prettier/vue"
    ],
    "plugins": ["vue", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "rules": {
        // All the rules below needs to be removed upon all fixes are done
        "no-unused-vars": "warn",
        "no-redeclare": "warn",
        "vue/no-unused-components": "warn",
        "vue/no-unused-vars": "warn",
        "vue/require-v-for-key": "warn",
        "vue/no-use-v-if-with-v-for": "warn",
        "vue/no-mutating-props": "warn",
        "vue/return-in-computed-property": "warn",
        "vue/require-valid-default-prop": "warn",
        "vue/no-side-effects-in-computed-properties": "warn",
        "vue/require-prop-type-constructor": "warn",
        "vue/no-duplicate-attributes": "warn"
    }
}
